/*index */

.header,.nav,.banner{
	width: 100%;
}
.head-content,.nav-content,.con{
	width: 1002px; 
	margin:0 auto;
}
/*header*/
.logo{
	width: 152px;
	height: 82px;
	background: url("../images/logo.png"); 
	text-indent: -9999px;
}
.header .fr a{ display: block;
 line-height: 82px;
 color:#575757; 
 font-size: 12px;
 margin-left: 30px;}
.accout{
	display: block;
	line-height: 82px;
	margin-left: 30px;
}
.accout i{
	width: 12px;
	height: 8px;
	background: url("../images/m_icon.png") -9px -42px;
	margin: 35px 0 0 5px;
	float: right;
}
/*end header*/

/*nav*/
.nav-ul li{
	float:left;
	margin:20px 30px; 
}
.nav-ul li a{
	color: #444;
	font-size: 16px;
}
.nav-ul li.cur a,.nav-ul li:hover a{
	color:#73ace6;
}
.search-div{
	width: 288px;
	height: 36px;
	border-radius:30px; 
	background: #e6e6e6;
	margin: 12px 0;
}
.search-icon{
	width: 30px;
	height: 30px;
	background: url("../images/m_icon.png" ) 0px -6px no-repeat;
	margin: 5px;
}
.search-div input{
	width: 200px;
	height: 35px;
	line-height: 34px;
	background: #e6e6e6;
    border: 0;
	float: left;
}
/*end nav*/

/*banner*/
/*.banner-ul li{
display: none;
}
.banner-ul .item1{
	width:100%;
	height:465px;
	background: url("../images/banner_1.jpg" ) center ;
	min-width: 1002px;
}
.banner li a{
	width: 100px; 
	height: 465px;
}
.banner-list{
	width: 200px;
	margin: 0 auto;
}
.banner-list a{
	width: 16px;height: 16px; float: left;margin: 20px 4px;
	 background: url("../images/m_icon.png")-34px -128px no-repeat;
}
.banner-list a.cur{
	background-position: -6px -128px;
}*/
.banner{width:100%;overflow:hidden;height:470px;position:relative;}
.banList{position:absolute;left:50%;margin-left:-960px;height:470px}
.banList li{height:470px;opacity:0;position:absolute;transform:scale(0);transition:transform 0.5s ease 0s, opacity 1.5s ease 0s;z-index:1;}
.banList li.active{opacity:1;transform:scale(1);z-index:2;}
.fomW{position:absolute;bottom:20px;left:50%;height:20px;z-index:9;width:1000px;margin-left:-500px}
.jsNav{text-align:center;}
.jsNav a{display:inline-block;background:#fff;width:15px;height:15px;border-radius:50%;margin:0 5px;}
.jsNav a.current{background:#fc8f0f;cursor:pointer}

/*login*/
.login-div{
	position: absolute;
	width: 1002px;
	margin: 0 auto;
	top:30px;
	left:50%;
	margin-left:-500px; 
}
#loginForm{
	position: absolute;
	right: 0;
	bottom：none;
	background: rgba(0,0,0,0.4);
	padding:0 25px 36px 25px;
}
#loginForm h2{
	line-height: 60px;
}
.login-user,.login-pass{
	width: 240px;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	text-indent: 15px;
	border: #fff 1px solid;
	border-radius:3px;
	display: block;
	margin: 0 auto; 
}
.login-pass{
	margin-top:15px; 
}
.login-user{
	background: url("../images/m_icon.png") 0 -50px no-repeat #fff;
}	
.login-pass{
	background: url("../images/m_icon.png") 0 -80px no-repeat #fff;
}	
.login-btn{
	width: 260px;
	background: #ffa200;
	height: 49px;
	border: none;
	cursor:pointer;
	border-bottom:3px solid #bf6000; 
}
.login-btn:active{
	border:3px solid #bf6000; 
}
/*end login*/
/*end banner*/

/*warp*/
/*项目*/
.con-t{
	 height: 30px; padding:30px 0 0 0px ;
}
.con-t h2{
	background: url("../images/m_icon.png") 8px -152px no-repeat;
	padding:0px 0 0 32px ;
}
.con-t span{
	color: #999;
}

.con-boxCon{
	width: 1002px;overflow: hidden;
}
.con-boxUl{
	margin-right: -9999px; overflow: hidden;
}
.con-list{
	float: left;
}
.per-detail{
	width: 200px;
	margin-left: 15px;
}
.per-detail p{
	line-height: 24px;
}
.per-tipul{
	background: url("../images/perbg.jpg");
}
.per-tipul p{
	margin-top:10px; 
}
.per-tipul li{
	float: left;
	margin:10px 20px;
	text-align: center;
	color: #fff;
}
.con-r{
	width: 740px;
}
.r-t a.xin,.r-t a.ly{
	float: left;color: #999; background: url("../images/m_icon.png") -6px -245px;padding-left: 30px;margin-right:20px;line-height: 20px; 
}
.r-t a.ly{
	background-position:-6px -273px; 
}
