@charset "utf-8";
/*Author:phf */
/*各页面css*/

/* index.html */
.head,.nav{width: 100%;}
.head-content,.nav-content,.con,.footsrc,.footlink{width: 1002px;margin:0 auto;}

/* head */
.logo {width: 152px;height:82px;text-indent:-9999px;background: url("../images/logo.png") 0 0 repeat ;}
.head .fr a{display:block;line-height: 82px;font-size: 12px;color:#575757;margin-left:20px;}
.account{display: block;line-height: 82px;margin-left:34px;}
.account i{width:12px;height:8px;background: url("../images/m_icon.png" ) -9px -42px repeat ;float:right;margin:36px 5px;}

/* nav */
.nav-ul li{float:left;margin:20px 30px;}
.nav-ul li a{color: #444;font-size: 16px;}
.nav-ul li.cur a,.nav-ul li:hover a{color:#73ace6;}
.search-div{width:288px;background:#e6e6e6;height:36px;border-radius:30px;;margin:12px 0;}
.search-div input{width: 208px;height:36px;line-height:36px;border:0;outline: none;float: left;background:#e6e6e6;}
.search-icon{width:30px;height:30px;background: url("../images/m_icon.png" ) 0px -6px no-repeat ;float:left;margin:5px;}

/* banner */
.bannerimg-ul li{display: none;}
.bannerimg-ul .item1{width:100%;height:465px;background: url("../images/banner_1.jpg" ) center  repeat ;min-width: 1002px;}
.bannerimg-ul li a{width: 100%;height:465px;}
.bannerc-list{width: 200px;margin:0 auto;}
.bannerc-list a,.bannerc-list a.cur{width: 16px;height:16px;background: url("../images/m_icon.png" ) -34px -128px no-repeat ;float: left;margin:20px 4px;}
.bannerc-list a.cur{background-position: -6px -128px}

/* loginForm */
.login-div{position:absolute;width:1002px;margin:0 auto;top:30px;left: 50%;margin-left: -501px;height: 0;}
.o-div{width: 288px;height: 279px;position:absolute;background:#512f36;opacity: 0.5;filter:alpha(Opacity=50);right: 0;}
#loginForm{padding: 0 25px 36px 25px;position:absolute;right:0;border:none;border-bottom:3px solid #25191e; z-index:2;}
#loginForm h2{line-height: 60px} 
.login-user {background: url(../images/m_icon.png) no-repeat -2px -50px #fff;}
.login-pass {background: url(../images/m_icon.png) no-repeat -2px -80px #fff;}
.login-user, .login-pass {width:238px;height:40px;padding-left:24px; border: 1px solid #FFF;line-height:40px;text-indent: 15px;border-radius: 3px;display: block;margin:0px auto;}
.login-pass{margin-top: 15px;}
.login-btns{width:238px;background: #ffa200;height:43px;border:none;border-bottom: 3px solid #bf6000;border-radius: 3px;line-height: 43px;}

/* wrap */
/* 1 */
.con-list{float:left;}
.con-boxcon{width:1002px;overflow: hidden;}
.con-boxul{margin-right: -9999px;overflow: hidden;}
.con-t,.con_t2{height: 30px;line-height:30px;padding: 3px 0px 0px 8px;background: url(../images/m_icon.png) -8px -151px no-repeat;}
.con_t2{background-position: -8px -197px;}
.con-t span{color: #999;}
.con-l{width: 232px;margin-right: 30px;}
.con-r{width:740px;}
.per-detail{width: 200px;margin-left:15px;}
.per-detail p{line-height: 24px;}
.per-tipul{width: 232px;height:76px;background: url(../images/perbg.jpg) repeat;color: #fff;}
.per-tipul li{float: left;width:76px;text-align: center;margin-left: 1px;}
.per-tipul li p{margin-top:12px;}
.review-t a.zan,.review-t a.msg,.per-zan a.zan{float: left;color: #999;padding-left:28px;background: url(../images/m_icon.png) -6px -245px no-repeat;margin-right: 20px;line-height:20px;}
.review-t a.msg{background-position: -6px -272px;}
.review-ul li{margin-top: 30px;}
.review-img{width: 66px;height: 66px;float: left;border-radius: 66px;margin-right: 20px;}
.review-con{width:600px;height:48px;background:#f2f2f2;text-indent:20px;border-radius:10px;line-height:48px;position: relative;}
.review-con i{width:20px;height:20px;background: url(../images/jiao.png) no-repeat;position: absolute;top:6px;left:-13px;}
.con-cprev,.con-cnext{position: absolute;top:180px;left:-80px;width:50px;height:74px;background: url(../images/m_icon.png) -6px -310px no-repeat;}
.con-cnext{background-position: -86px -310px;left:1030px;}

/* 领投 跟投 */
.per-tipul_1 {font-size:12px;width: 180px;height: 76px;margin-left:35px;}
.per-tipul_1 li {float: left;width: 58px;text-align: center;margin-left: 1px;}
.per-tipul_1 li p {margin-top: 8px;}
.rate_box {background: url("../images/jindu02.png")  no-repeat;height: 266px;width: 266px;border-radius: 266px; position: absolute;top: 0px}
.rating {background: url("../images/jindu01.png") no-repeat;height: 266px;width:266px;}
.con-abdiv-1,.con-abdiv-2,.con-abdiv-3,.con-abdiv-4{width:254px;height:254px;position:absolute;top:6px;left:6px;}
.con-abdiv-1{background:url(../images/con_bg1.png);}
.con-abdiv-2{background:url(../images/con_bg2.png);}
.con-abdiv-3{background:url(../images/con_bg3.png);}
.con-abdiv-4{background:url(../images/con_bg4.png);}
.con-abdiv-1 a,.con-abdiv-2 a,.con-abdiv-3 a,.con-abdiv-4 a{width:94px;margin:0 auto;font-size:18px;line-height:50px;color:#Fff;text-align: center}
.con-abdiv-1 img,.con-abdiv-2 img,.con-abdiv-3 img,.con-abdiv-4 img{margin-top:20px;width:94px;height:94px;border-radius:94px;}
.con-abdiv-2 img,.con-abdiv-4 img{margin-top: 60px;}
.con-abddiv-t{width: 266px;position: absolute;top: 133px;left: 0px;}
.con-tsrc{margin-top: 140px;position: absolute;z-index: 1;width: 266px;}
.o-div1{width: 266px;height:332px;background:#262626;opacity: 0.8;filter:alpha(Opacity=80);}
.day-tip{position:absolute;top:-36px;right:-60px;color:#18435a;}
.day-tip strong{font-size:30px;color:#ff3355;font-weight:normal;}
#con_boxul_2 .con-list,#con_boxul_3 .con-list{margin-right:150px;height:480px;margin-top:60px;}
#con_boxul_2 .per-detail,#con_boxul_3 .per-detail{margin-top: 290px;}
.lt-src{color: #e5e5e5;font-size: 12px;line-height:20px;text-align: center;}
.lt-img{width: 56px;height: 56px;border-radius: 56px;margin: 8px 0}
.view-more-1{color: #e5e5e5;width:126px; margin:15px  auto;height: 24px;border: 1px solid #fff;border-radius:30px;line-height: 24px;}
.view-more-2{width: 240px;height: 45px;border: 1px solid #d9d9d9;border-radius:30px;line-height:47px;background: #e5e5e5;margin: 0px auto;margin-top: 20px;}
.tper-src{margin: 0 auto}
.lt-src,.tper-src a{color: #e5e5e5;font-size: 12px;line-height:20px;text-align: center;}
.tper-src a{width: 85px;display: inline-block;}
/* 领投 跟投 end */

/* 活跃投资 */
.per-src-1,.per-src-2{height: 278px;width: 268px;float: left;text-align: center;font-size: 12px;position: relative;
margin:0 100px 20px 0 ;
}
.per-src-1{background: url(../images/bg_jiao.png) no-repeat right bottom #fff;border-top: 3px solid #ffaa00;}
.per-src-2{height:281px;background: #ff667f;}
.per-src-1 dt,.per-src-2 dt{margin-top: 40px}
.per-base{text-align: center;margin:0 auto;margin-top: 10px;}
.per-src-2 .per-base{width: 230px;line-height: 20px;}
.per-name{color: #666;margin-bottom: 10px;}
.per-zan{position: absolute;top:10px;right:0;}
.per-money{margin: 10px 0 30px;}
 .add span,.del span{position: absolute;bottom:10px;right:5px;background: url(../images/m_icon.png) -6px -440px no-repeat ;width: 26px;height:26px;}
 .del span{background-position: -6px -402px;}
/* 活跃投资  end*/

/* foot */
.footsrc{padding:30px 0}
.footlink{padding:10px 0;}
.footsrc-outul li{float: left;margin:0 10px 0 15px}
.footsrc-inul{list-style:disc;margin-left: 16px;}
.footsrc-inul li{margin: 8px 0;float: none}
.footsrc-inul li a{color: #666;}
.footsrc-outul li.f-line{margin: 10px 60px 0 30px ;}
.online-ser{border-radius: 20px;background: #8a8a8a;color: #dedede;width: 100px;height: 24px;line-height: 24px;margin:10px 0 0 10px;}
.message,.weibo{background: url(../images/m_icon.png) -6px -487px no-repeat ; width: 28px;height:28px;float: left;margin:0 5px;}
.weibo{background-position: -6px -532px}
.footlink p{color: #ccc;line-height: 40px;}
.footlink p a{display:inline;color: #ccc;}
.foot-icon a{display:inline-block;margin: 20px 10px;}
/* foot  end*/